<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>g6CgvnJsPhD4E8pIRQSBh3lC6TB4NWLLUZbaiJrm</string>
	<key>parseClientKey</key>
	<string>51ukXOptFBD0cJ83dQveqOaKQTGCNzRTbnG3ma3J</string>
</dict>
</plist>
